PRIVATE_KEY='openssh private key for backup server
(ensure the backup server has the pub key in the authorized_keys file)'

ZEROTIER_ID=""

AUTHORIZED_KEYS='authorized keys for git ssh connection'

# Needs escaped dollar signs... TODO: find solution
BASIC_AUTH='htpassd config for nginx'

# Syncing every 10 mins to keep load low
SYNC_INTERVAL_S="600"

# Backup location/origin of the repos
# New repos must also be specified here. The service will backup them every 30 seconds
REPOS=""
#REPOS="${REPOS} user@host.docker.internal:repo1.git"
#REPOS="${REPOS} user@host.docker.internal:repo2.git"
