PRIVATE_KEY='openssh private key for backup server
(ensure the backup server has the pub key in the authorized_keys file)'

AUTHORIZED_KEYS='authorized keys for git ssh connection'

# Needs escaped dollar signs... TODO: find solution
BASIC_AUTH='htpassd config for nginx'

# Backup location/origin of the repos
# New repos must also be specified here. The service will backup them every 30 seconds
REPOS=""
REPOS="${REPOS} user@backup_server:repo1.git"
REPOS="${REPOS} user@backup_server:repo2.git"

